<html>
<head>
	<link rel="stylesheet" type="text/css" href="/mainStyle.css">
</head>
<body>
	<h1>Music Database</h1>
	<h3>Menu</h3>
	<ul>
		<li><a href="/songs">Songs: List, Add, Update and Delete</a></li>
		<li><a href="/artists">Artists: List, Add, Update and Delete</a></li>
		<li><a href="/albums">Albums: List, Add, Update and Delete</a></li>
		<li><a href="/plays">Plays: Show, Add, and Delete</a></li>
		<li><a href="/contributorType">Contributor Type: List and Add</a></li>
		<li><a href="/albumType">Album Type: List and Add</a></li>
		<li><a href="/searchSongs">Search Songs</a></li>
	</ul>

</body>
</html>
