<h1>Search for a Song</h1>

<form id="songSearch"  method="post" action="/searchSongsResults">
	<label for="songToSearch">Song:</label>
	<input type="text" name="songToSearch" id ="songToSearch" autocomplete="off" required>
	<br>
	<input type="submit">
</form>