<!doctype html>
<html>
<head>
	<title>Music Database</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<a href='/'>Home</a>
	{{{body}}}
</body>
<script type="text/javascript" src="browser.js"></script>
</html>